<div class="main media">
  <div class="image">
    {{#with actor}}
    <img class="circle" {{bind-attr src=gravatarUrl}}>
    {{/with}}
  </div>
  <div class="text">
    <div class="title">{{type}} by {{actor.login}}</div>
    <div class="sub-title">
      <span class="point">{{from-now createdAt}}</span>
      <span>
      {{#with repo}}
      <a {{bind-attr href=url}}>{{name}}</a></span>
      {{/with}}
    </div>
  </div>
</div>
